body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    background-color: #10002b;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button,
a,
li,
input[type="button"],
input[type="submit"] {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    transition: background-color 0.3s;
}

.title {
    background-color: #7b2cbf;
    text-align: center;
    font-size: 35px;
    color: #f9f2ff;
    padding: 10px;
    transition: padding-top 0.3s, font-size 0.3s;
    display: block;
    border-radius: 100px;
}

.header {
    top: 0;
    position: sticky;
    background-color: #10002b;
    z-index: 3;
    padding-top: 7px;
    padding-bottom: 10px;
}

h1,
h2,
h3 {
    font-size: 18px;
    color: #f0618e;
    margin-bottom: 0px;
    margin-top: 5px;
    margin-left: 2px;
}

.addEditHeader {
    color: #bc4749;

}

.dropdown {
    position: absolute;
    margin-top: -54px;
    right: 10px;
    z-index: 2;
    display: block;

}

.dropdown-btn {
    cursor: pointer;
    font-size: 23px;
    background-color: #FFB30000;
    transition: background-color 0.3s;
    margin-bottom: 20px;
}

.dropdown-btn:hover {
    background-color: transparent;
}

.dropdownList {
    padding: 0px;
}

.dropdown-content {
    display: none;
    position: absolute;
    box-sizing: content-box;
    right: 25px;
    min-width: 130px;
    margin-top: -25px;
}

.dropdown-content.show {
    animation: fadeIn 0.15s ease-in-out;
    display: block;
}

input.logout_btn,
input.btn {
    background-color: #f5ebfb;
    display: block;
    width: 100%;
    padding: 10px;
    border: 0px solid #E0E0E0;
    border-radius: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #7b2cbf;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 14px;
}

input.logout_btn {
    color: #c72121;
}

.btn:hover {
    background-color: #d1f9c4;
}

.logout_btn:hover {
    background-color: #f7c1c1;
}

.addItemForm {
    max-width: 600px;
    display: none;
}

.addItemForm {
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: transform 0.5s ease-in-out, box-shadow 0.3s, opacity 0.3s;
    ;
    background-color: #f5ebfb;
    border-radius: 8px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

.addItemInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 2px solid #bc474980;
    border-radius: 4px;
    box-sizing: border-box;
    color: #303030;
    background-color: #e3c8f2;

}

input:focus {
    outline: none;
}

button {
    background-color: #10a705;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    margin-right: 5px;
    display: inline;

}

button.cancel {
    background-color: #575157;
}

button.cancel:hover {
    background-color: #433e43;
}

button:hover {
    background-color: #0d8205;
}

.SearchBar {
    position: sticky;
    padding-top: 10px;
    padding-bottom: 10px;
    top: 81px;
    z-index: 1;
    background-color: #10002b;
}

#searchBar {
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    font-size: 15px;
    color: #303030;
    border: 2px solid #db88d0;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #f5ebfb;
}

#searchBar::placeholder {
    color: #a5a5a5;
}

#searchBar:focus {
    outline: none;
}

.clearSearch {
    background-color: #f5ebfb;
    border: 0px solid;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    color: #db88d0;
    position: absolute;
    top: 12px;
    right: 2px;
    height: 32px;
    width: 32px;
    animation: fadeIn 0.3s ease-in-out;
}


.clearSearch:hover {
    background-color: #00000000;

}

.filter {
    background-color: #00000000;
    background-size: cover;
    color: #f0618e;
    position: absolute;
    display: inline;
    margin-top: -28px;
    right: 20px;
    z-index: 2;
    height: 25px;
    font-size: 17px;
}

.filter:hover {
    background-color: #ccff0000;
}

.filter-dropdown {
    display: none;
    position: absolute;
    background-color: #f5ebfb;
    min-width: 120px;
    right: 56px;
    margin-top: 4px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
    border-radius: 8px;

}

.filter-dropdown button {
    background-color: #f5ebfb;
    display: block;
    width: 100%;
    padding: 10px;
    border: 0px solid #E0E0E0;
    border-radius: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #7b2cbf;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 13px;
}

.filter-dropdown button:hover {
    background-color: #d1f9c4;
}

.filter-dropdown.show {
    display: block;
    animation: fadeIn 0.15s ease-in-out;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


li {
    margin-top: 10px;
    background-color: #f5ebfb;
    border: 3px solid #db88d0;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}


button.details {
    background-color: #00000000;
    cursor: pointer;
    height: 65px;
    width: 100%;
    position: absolute;
    right: -4px;
    top: -12px;
    bottom: 0px;
    border-radius: 8px;
}

button.details:hover {
    background-color: #0057b300;
}

li span.item-name {
    color: #303030;
    font-size: 16px;
    font-weight: bold;
}

li span.sale-price {
    font-size: 14px;
    color: #303030;
}

li:hover {
    background-color: #e7c3fc;
}


.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-details {
    color: #f5ebfb;
    margin: 10px auto;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 8px;
    background-color: #10002b;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
    transition: max-height 0.5s ease-in-out;
    max-width: 100%;
    width: 90%;
    text-align: left;
    overflow: auto;
}


.item-details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.item-details td {
    border: 0.5px solid;
    border-color: #f0618e50;
    padding: 5px;
    text-align: center;
}

.item-details td.m {
    font-weight: bold;
}

button.edit-button {
    color: #fff;
    background-color: #10a705;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 60px;
    font-size: 13px;
    transition: background-color 0.3s;
    margin-top: 16px;
    margin-right: 10px;
    margin-left: 1px;
    margin-bottom: 0px;
}

button.delete-button {
    color: #fff;
    background-color: #e52626;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 60px;
    font-size: 13px;
    transition: background-color 0.3s;
    margin-top: 16px;
    margin-right: 10px;
    margin-bottom: 0px;
}

button.delete-button:hover {
    background-color: #c72121;
}

button.edit-button:hover {
    background-color: #0d8205;
}

#feedbackPopup {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 15px;
    background-color: #007bff;
    color: #fff;
    border-radius: 8px;
    display: none;
    z-index: 2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    max-width: 300px;
    text-align: center;
    transition: background-color 0.3s;
    animation: fadeIn 0.2s ease-in-out;

}

#feedbackPopup.error {
    background-color: #c72121;
}

#feedbackPopup.success {
    background-color: #10a705;
}

@media only screen and (max-width: 600px) {
    .item-details {
        max-width: 100%;
        box-sizing: border-box;
    }

    .addItemForm {
        max-width: 100%;
        box-sizing: border-box;
    }

    .title {
        padding-top: 12px;
        font-size: 30px;
    }

    .SearchBar {
        top: 76px;
    }

    .dropdown {
        margin-top: -48px;
    }

    .filter {
        margin-top: -35px;
    }
}

@media only screen and (max-width: 768px) {

    h1,
    h2 {
        font-size: 24px;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        margin: 40px;
    }

    .filter {
        right: 35px;
    }

    .filter-dropdown {
        right: 70px;
    }

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}